    
  /* modal */
  .modal{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.modal .modalForm {
    background: white;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 600px;
    height: 90%;
    position: relative;
    top: 0;
}

.modal .headerButton{
    display: flex;
    padding: 12px;
}
.modal  .headerButton #logo{
    color: #00B9FF;
    font-size: 32px;
}
.modal .modalForm .headerButton .space{
    width: 268px;
    height: 53px;
}
.modal .modalForm .signinForm{
    margin: 0 118px;
    padding: 10px;
}
.modal .modalForm .signinForm .searchID{
    width: 440px;
    font-size: 31px;
    font-weight: bold;
}
.modal .modalForm .signinForm .login{
    font-size: 31px;
    font-weight: bold;
    height: 71px;

}
.modal  .signinForm .gogleButton{
    color: black;
    width: 300px;
    height: 40px;
    margin: 0 0 8px;
    padding-top: 13px;
    text-align: center;
    border: 1px solid #bebebe;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px

}
.modal .modalForm .signinForm .appleButton{
    color: black;
    width: 300px;
    height: 40px;
    margin: 0 0 8px;
    padding-top: 13px;
    text-align: center;
    border: 1px solid #bebebe;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px
}

.modal .modalForm .signinForm .appleButton i{
    font-size: 18px;
}
.modal .modalForm .signupForm{
    padding: 0 80px;  
}
.modal .modalForm .signupForm .modalComent{
    font-size: 32px;
    height: 76px;
    
}
.modal .modalForm .or{
    width: 290px;
    height: 30px;
    margin: 0 4px;
    display: flex;
}
.modal .modalForm .or span{
    padding-top: 5px;
    margin: 0 5px;
    font-size: 15px;
    width: 35px;
    height: 19px;
}
.modal .modalForm .or .line{
    width: 127px;
    margin-top: 14px;
    border: none;
    border-top: 1px solid #bebebe;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 50%;
}
.modal .modalForm .inputValue {
    width: 300px;
    height: 56px;
    border: 1px solid #bebebe;
    border-radius: 4px;
    margin: 12px 0;
    padding-bottom: 4px;
}
.modal .modalForm .inputValue input{
    border: none;
    width: 98%;
    height: 20px;
}
.modal .modalForm .modalButtom{
    color: white;
    width: 300px;
    height: 34px;
    margin-top: 10%;
    padding-top: 15px;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px
}

.modal .modalForm .forgetPW{
    color: black;
    width: 300px;
    height: 34px;
    margin: 16px 0;
    padding-top: 15px;
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px
}